/* styles.scss */
html, body, .MainContainer {
  height: 100%;
  margin: 0; }

.content {
  position: relative;
  height: 100%;
  overflow: hidden; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: white; }

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4); }

.mainContent {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow-y: auto;
  background-color: black; }

@keyframes glow {
  from {
    text-shadow: 0 0 20px #add8ff; }
  to {
    text-shadow: 0 0 0px rgba(173, 216, 230, 0); } }
  .mainContent a {
    animation: glow 1s infinite alternate;
    color: rgba(128, 191, 255, 0.7);
    text-decoration-color: rgba(128, 191, 255, 0.2); }
  .mainContent .mainScroller {
    position: relative; }
    .mainContent .mainScroller .splash {
      position: relative;
      box-sizing: border-box;
      height: 350px;
      text-align: center;
      padding-top: 150px; }
      @media screen and (max-width: 800px) {
        .mainContent .mainScroller .splash {
          height: 40vw;
          padding-top: 20vw; } }
      @media screen and (max-width: 500px) {
        .mainContent .mainScroller .splash {
          height: 200px;
          padding-top: 100px; } }
      .mainContent .mainScroller .splash .splashText {
        position: relative;
        z-index: 3;
        margin-left: 5em;
        color: white;
        font-family: "Lucida Console", Monaco, monospace;
        font-size: 2.5em; }
        @media screen and (max-width: 800px) {
          .mainContent .mainScroller .splash .splashText {
            font-size: 2em; } }
        @media screen and (max-width: 600px) {
          .mainContent .mainScroller .splash .splashText {
            font-size: 1em; } }
      .mainContent .mainScroller .splash .splashBack {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        z-index: 1;
        background-image: url("sunset_mackinac_bridge_crop.jpg");
        background-repeat: no-repeat;
        background-size: cover; }
      .mainContent .mainScroller .splash .splashFront {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        background-image: url("transparent_splash.png");
        background-repeat: no-repeat;
        background-size: auto 100%; }
    .mainContent .mainScroller .mainText {
      padding: 2em 5em;
      background-color: black;
      border-top: 1px solid white;
      color: white; }
      @media screen and (max-width: 800px) {
        .mainContent .mainScroller .mainText {
          padding: 2em 4em; } }
      @media screen and (max-width: 600px) {
        .mainContent .mainScroller .mainText {
          padding: 2em 3em; } }
      @media screen and (max-width: 500px) {
        .mainContent .mainScroller .mainText {
          padding: 2em 2em; } }
      .mainContent .mainScroller .mainText h1 {
        font-size: 3em;
        border-bottom: 2px solid rgba(0, 0, 0, 0.075); }
        @media screen and (max-width: 800px) {
          .mainContent .mainScroller .mainText h1 {
            font-size: 2.5em; } }
        @media screen and (max-width: 600px) {
          .mainContent .mainScroller .mainText h1 {
            font-size: 1.5em; } }
        @media screen and (max-width: 500px) {
          .mainContent .mainScroller .mainText h1 {
            font-size: 1em; } }
      .mainContent .mainScroller .mainText h2 {
        margin-top: 1.25em;
        font-family: Verdana, Geneva, sans-serif; }
      .mainContent .mainScroller .mainText p {
        font-size: 1.2em;
        font-family: "Lucida Console", Monaco, monospace;
        line-height: 150%;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.1); }
        @media screen and (max-width: 800px) {
          .mainContent .mainScroller .mainText p {
            font-size: 1em; } }
        @media screen and (max-width: 600px) {
          .mainContent .mainScroller .mainText p {
            font-size: 0.8em; } }
        @media screen and (max-width: 500px) {
          .mainContent .mainScroller .mainText p {
            font-size: 0.6em; } }
      .mainContent .mainScroller .mainText .youtube {
        width: 53vw;
        height: 30vw;
        margin: 0 auto; }
        @media screen and (max-width: 800px) {
          .mainContent .mainScroller .mainText .youtube {
            width: 80vw;
            height: 45vw; } }
      .mainContent .mainScroller .mainText .spotify {
        width: 300px;
        margin: 0 auto; }
      .mainContent .mainScroller .mainText .soundcloud {
        height: 166px; }
        @media screen and (max-width: 800px) {
          .mainContent .mainScroller .mainText .soundcloud {
            height: 100px; } }
        @media screen and (max-width: 500px) {
          .mainContent .mainScroller .mainText .soundcloud {
            height: 60px; } }
      .mainContent .mainScroller .mainText .programNotes {
        width: 50%;
        margin: 0 auto; }
        .mainContent .mainScroller .mainText .programNotes img {
          width: 100%; }

/*# sourceMappingURL=styles.css.map */